.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

p {
  font-size: large;
  font-weight: 500;
}

body {
  font-family: quicksand;
  margin-bottom: 20px;
  background-image: url(images/wallapaper.jpg);
}

hr {
  opacity: 1;
  border: 1px solid black;
}

.nav_text {
  color: black;
  font-size: x-large;
}

.my_image {
  margin-top: 20px;
}

.carousel {
  width: 75%;
}

.banner-1 {
  background-color: dimgray;
  color: rgb(255, 255, 255);
}

.hover-li:hover {
  background-color: cadetblue;
  color: rgb(255, 255, 255);
}

.table {
  border-radius: 10px !important;
  overflow: hidden;
}
